html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  float: left;
}

body {
  background: #111;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div#logs {
  font-family: monospace;
  display: inline;
}

canvas#mainCanvas{
  max-width:100vw;
  max-height:100vh;
}