html {
  height: 100%;
  width: 100%;
}

body {
  background: black;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div#logs {
  font-family: monospace;
  height: 100%;
  width: 100%;
}